.catalog {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin: 0 auto;

  @include viewport--md {
    row-gap: 52px;
  }

  @include viewport--lg {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 52px;
    row-gap: 57px;
  }
}

.catalog__card {
  width: 260px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @include viewport--md {
    width: 670px;
    grid-template-columns: 1fr 1fr;
  }

  @include viewport--lg {
    width: 316px;
    grid-template-columns: 1fr;
    grid-auto-rows: 462px 198px;
  }
}

.catalog__card:hover .catalog__card-wrapper {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.catalog__card:active .catalog__card-wrapper {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.catalog__link-photo {
  grid-column: 1/-1;
  justify-items: center;

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3px;
  }

  @include viewport--md {
    grid-column: 1/2;
  }

  @include viewport--lg {
    grid-column: 1/-1;
  }
}

.catalog__photo {
  @include viewport--md {
    width: 334px;
    height: 334px;
  }

  @include viewport--lg {
    width: 316px;
    height: 462px;
  }
}

.catalog__card-wrapper {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 29px 27px 25px;

  @include viewport--md {
    grid-column: 2/3;
    grid-template-rows: min-content min-content 1fr;
    padding: 26px 34px 24px 34px;
  }

  @include viewport--lg {
    grid-column: 1/-1;
    padding-left: 25px;
    padding-right: 39px;
    padding-top: 28px;
  }
}

.catalog__link {
  grid-column: 1/-1;
  margin-bottom: 6px;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3px;
  }

  @include viewport--md {
    grid-row: 1/2;
  }
}

.catalog__box {
  grid-column: 1/-1;
}

.catalog__title {
  margin: 0;

  @include viewport--md {
    margin-bottom: 3px;
  }
}

.catalog__discription {
  grid-column: 1/-1;
  position: relative;
  margin-bottom: 40px;

  @include viewport--md {
    font-weight: 400;
    font-size: 15px;
    line-height: 2;
    grid-row: 2/3;
    align-self: start;
    margin: 0;
  }
}

.catalog__price {
  grid-column: 1/2;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 204px;
    height: 1px;
    background-color: $color-bg-title;
    display: block;
    margin: 0 auto;
    bottom: 47px;
  }

  @include viewport--md {
    font-size: 17px;
    line-height: 1.41;
    grid-row: 3/4;
    align-self: end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 268px;
      height: 1px;
      background-color: $color-bg-title;
      display: block;
      margin: 0 auto;
      bottom: 49px;
    }
  }
}

.catalog__in-basket {
  grid-column: 2/3;
  padding: 0;
  margin-top: -8px;

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3%;
  }

  @include viewport--md {
    grid-row: 3/4;
    align-self: end;
    margin-bottom: 8px;
    margin-right: -8px;
  }
}

.catalog__in-basket:hover svg {
  color: $color-green;
  opacity: 1;
}

.catalog__in-basket:active svg {
  color: $color-green;
  opacity: 0.3;
}
