.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-modal__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 0;
  margin-bottom: 4px;
}

.form-modal__group span {
  align-self: center;
  font-size: 15px;
  line-height: 2;
  color: $color-text;
  margin-bottom: 22px;

  @include viewport--md {
    font-size: 17px;
    line-height: 1.76;
  }
}

.form-modal__wrapper-inputs {
  display: flex;
  margin-bottom: 24px;
}

.form-modal__box-input:not(:last-child) {
  margin-right: 5px;
}

.form-modal__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px rgba(68, 68, 68, 0.1) solid;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.94;
  text-transform: uppercase;
  color: $color-text;

  &:hover {
    border: 2px $color-light-grey solid;
  }

  &:active {
    border: 2px $color-green solid;
  }

  @include viewport--md {
    width: 112px;
    height: 52px;
  }
}

.form-modal__radio {
  @include input-hidden;
}

.form-modal__radio:checked + .form-modal__label {
  border-color: $color-green;
}

.form-modal__radio:focus-visible + .form-modal__label {
  outline: 2px solid $color-focus;
}

.form-modal__radio:disabled + .form-modal__label {
  background-color: $color-light-grey;
}

.form-modal__button {
  width: 260px;
  min-height: 52px;
  background-color: $color-green;
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.94;
  color: $color-white;
  padding: 18px 68px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: 2px solid $color-focus;
  }

  @include viewport--md {
    width: 350px;
  }
}
