.form-order-container {
  padding-top: 17px;
  padding-bottom: 31px;

  @include viewport--md {
    padding-top: 66px;
    padding-bottom: 64px;
  }

  @include viewport--lg {
    padding: 116px 208px 2px 224px;
  }
}

.form-order__title {
  background-color: $color-bg-title;
  text-align: center;
}

.form-order__description {
  font-size: 13px;
  line-height: 1.84;
  color: $color-text;
  margin: 0;

  @include viewport--md {
    font-size: 17px;
    line-height: 1.76;
  }

  @include viewport--lg {
    padding-bottom: 62px;
  }
}
