.header__logo-link {
  text-decoration: none;
}

.header__toggle {
  width: 20px;
  height: 14px;
  border: none;
  background-color: $color-white;
  padding: 0;
  cursor: pointer;
}

.header__toggle-line {
  display: block;
  position: relative;
  height: 2px;
  width: 20px;
  background-color: $color-title;

  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: $color-title;
    bottom: 4px;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: $color-title;
    top: 4px;
  }
}
