.header-sub {
  @include viewport--md {
    display: flex;
    justify-content: space-between;
    background-color: #fafafa;
  }
}

.header-sub__list {
  @include list-reset;
  display: none;

  @include viewport--md {
    display: flex;
  }
}

.header-sub__link {
  text-decoration: none;
  color: $color-title;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
}

.header-sub__delivery {
  display: none;

  @include viewport--md {
    display: block;
  }
}

.item-hidden-desktop {
  @include viewport--lg {
    display: none;
  }

}
