.header {
  background-color: $color-white;
}

.header__inner {
  min-height: 79px;
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  @include viewport--md {
    min-height: 89px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  @include viewport--lg {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.header__left-wrapper {
  order: -1;

  @include viewport--md {
    order: 0;
  }

  @include viewport--lg {
    order: -1;
  }
}

.header__logo-link {
  text-decoration: none;

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3px;
  }

  @include viewport--lg {
    margin-right: 57px;
  }
}

.header__logo {
  @include viewport--md {
    width: 113px;
    height: 45px;
  }

  @include viewport--lg {
    width: 148px;
    height: 71px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--visible-mobile {
    @include viewport--md {
      display: none;
    }

    @include viewport--lg {
      display: none;
    }
  }

  &--visible-tablet {
    display: none;

    @include viewport--md {
      display: block;
    }

    @include viewport--lg {
      display: none;
    }
  }

  &--visible-desktop {
    display: none;

    @include viewport--md {
      display: none;
    }

    @include viewport--lg {
      display: block;
    }
  }
}

.header__toggle {
  position: absolute;
  right: 31px;
  top: 23px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;

  &--opened {
    right: 31px;
    top: 27px;
    width: 22px;
    height: 22px;
  }

  &--closed {
    right: 29px;
    top: 22px;
    width: 22px;
    height: 22px;

    &::before {
      content: "";
      display: block;
      top: 0;
      width: 20px;
      height: 2px;
      background-color: $color-title;
      box-shadow: 0 6px 0 $color-title, 0 12px 0 $color-title;
    }

    &--nojs {
      display: none;
    }
  }

  @include viewport--md {
    display: none;
  }
}

.header__toggle--opened::before,
.header__toggle--opened::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 25px;
  background-color: $color-title;
  display: block;
}

.header__toggle--opened::before {
  transform: rotate(45deg);
}

.header__toggle--opened::after {
  transform: rotate(-45deg);
}
