.header-sub {
  &--gray {
    @include viewport--md {
      background-color: $color-bg-title;
    }
  }
}

.header-sub__container {
  max-width: 1150px;
  margin: 0 auto;
  background-color:  #fafafa;

  @include viewport--md {
    display: flex;
    justify-content: space-between;
    padding-left: $padding--md;
    padding-right: $padding--md;

    &--gray {
      @include viewport--lg {
        background-color: $color-bg-title;
      }
    }
  }
}

.header-sub__list {
  @include list-reset;
  display: none;

  @include viewport--md {
    display: flex;
  }
}

.header-sub__item:not(:last-child) {
  @include viewport--md {
    margin-right: 25px;
  }
}

.header-sub__link {
  text-decoration: none;
  color: $color-title;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
  padding: 10px 6px;
}

.header-sub__delivery {
  display: none;

  @include viewport--md {
    display: block;
  }
}

.item-hidden-desktop {
  @include viewport--lg {
    display: none;
  }
}
