.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/img/background-mobile.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.intro__title {
  margin: 73px 0 102px 0;
}

.intro__list {
  @include list-reset;
}

.intro__item:nth-child(odd) {
  background-color: $color-green;
  padding: 24px 160px 31px 30px;
}

.intro__item:nth-child(even) {
  background-color: $color-dark-green;
  padding: 24px 160px 31px 30px;
}

.intro__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 19px;
  line-height: 1.263;
}
