
.nav__list {
  @include list-reset;
  display: none;

  @include viewport--md {
    display: flex;
    flex-wrap: wrap;
  }

  @include viewport--lg {
    display: flex;
  }
}

.nav__link {
  text-decoration: none;
  color: $color-title;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;

  &:hover {
    color: rgba(0, 0, 0, 0.5);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3%;
  }

  @include viewport--md {
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 19px;
  }

  @include viewport--lg {
    padding-left: 0;
  }
}

.nav__link:hover .nav__icon {
  fill: $color-green;
  opacity: 1;
}

.nav__link:active .nav__icon{
  color: $color-green;
  opacity: 0.3;
}

.nav__icon {
  margin-right: 25px;
}

.nav__item {
  padding: 30px 40px;

  @include viewport--md {
    display: flex;
    align-items: center;
    height: 89px;
    padding: 0;
  }
}


.nav__item--border {
  position: relative;

  @include viewport--md {
    margin-right: 42px;

    &::before {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-bg-title;
      position: absolute;
      right: 76px;
    }

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-bg-title;
      position: absolute;
      left: 68px;
    }
  }

  @include viewport--lg {
    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-bg-title;
      position: absolute;
      left: 50px;
    }
  }
}

.nav__item:not(:last-child) {
  @include viewport--md {
    margin-right: 20px;
  }

  @include viewport--lg {
    margin-right: 43px;
  }
}

.nav__item-left {
  display: flex;
  align-items: center;
}

.nav__item--border-right {
  position: relative;

  @include viewport--lg {
    margin-right: 71px;
    height: 89px;

    &::after {
      content: "";
      width: 1px;
      height: 100%;
      background-color: $color-bg-title;
      position: absolute;
      left: 184px;
    }
  }
}

.item-hidden-tablet {
  @include viewport--md {
    display: none;
  }

  @include viewport--lg {
    display: block;
  }

}
