
.nav__list {
  @include list-reset;
  display: none;

  @include viewport--lg {
    display: flex;
  }
}

.nav__link {
  text-decoration: none;
  color: $color-title;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
}

.nav__list {
  @include viewport--md {
    display: flex;
  }

}

.item-hidden-tablet {
  @include viewport--md {
    display: none;
  }

}
