.product-card {
  border: 1px solid $color-bg-title;
}

.catalog__link {
  color: $color-title;
  text-decoration: none;
}

.catalog__discription {
  font-size: 13px;
  line-height: 2.3;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
}

.catalog__in-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
