.reviews {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  background-image: url("../img/decor/zigzag-line.svg");
  background-position: bottom center;
  background-size: auto 6px;
  background-repeat: repeat-x;

  @include viewport--md {
    background-size: 772px 17px;
    padding-bottom: 87px;
  }

  @include viewport--lg {
    background-size: 1050px 23px;
  }
}


.reviews__container {
  display: grid;
  grid-template-columns: 1fr;

  @include viewport--md {
    grid-template-columns: 1fr 1fr min-content;
    background-image: url("../img/background-knitted-tablet.png");
    background-size: 350px 457px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 85px;
    padding-bottom: 42px;
  }
}

.reviews__list {
  @include list-reset;
  margin-bottom: 7px;
  grid-column: 1/-1;
  grid-row: 2/3;
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__title {
  grid-column: 1/-1;
  justify-self: start;
  margin-bottom: 14px;

  @include viewport--md {
    grid-column: 1/2;
    order: -2;
    margin-bottom: 40px;
  }
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  color: $color-text;
  margin-bottom: 38px;

  @include viewport--md {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 60px;
  }
}

.reviews__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.41;
  color: $color-title;
}

.reviews__social {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.76;
}

.reviews__button-wrapper {
  display: flex;
  margin-bottom: 35px;
  grid-column: 1/-1;
  justify-self: center;

  @include viewport--md {
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 1;
    align-self: end;
    justify-self: end;
    margin-bottom: 6px;
  }
}

.reviews__button-previous {
  width: 130px;
  height: 52px;
  border: 1px solid $color-bg-title;
  background-color: $color-white;
  background-image: url("../img/icons/arrow.svg");
  background-position: center;
  background-size: 50px 25px;
  background-repeat: no-repeat;
  padding: 0;

  @include viewport--md {
    border: none;
    width: 90px;
  }
}

.reviews__button-next {
  width: 130px;
  height: 52px;
  border: 1px solid $color-bg-title;
  background-color: $color-white;
  background-image: url("../img/icons/arrow.svg");
  background-position: center;
  background-size: 50px 25px;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  padding: 0;

  @include viewport--md {
    border: none;
    width: 90px;
  }
}

.reviews__write {
  grid-column: 1/-1;
  max-width: 260px;
  justify-self: center;
  padding: 16px 65px;
  width: 260px;
  height: 52px;

  @include viewport--md {
    width: 175px;
    height: 52px;
    padding: 16px 26px;
    grid-column: 2/3;
    order: -1;
    align-self: start;
    justify-self: end;
  }
}
