.social {
  width: 260px;

  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 14px;
<<<<<<< HEAD
  border-bottom: 1px solid $color-bg-index;
=======
  border-bottom: 1px solid $color-border;
>>>>>>> 9bea476 (fix: pp)

  @include viewport--md {
    width: auto;
    border: none;
    padding: 0;
    justify-content: start;
  }
}

.social__item:not(:last-child) {
  @include viewport--md {
    margin-right: 15px;
  }
}

.social__link {
  padding: 8px 15px;
  color: $color-title;
  display: block;

  &:hover {
    color: $color-green;
  }

  &:active {
    color: $color-green;
    opacity: 0.6;
  }

  &:focus-visible {
    outline: 2px solid $color-focus;
    border-radius: 3px;
  }

  @include viewport--md {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 7px;
    padding-left: 7px;
  }
}
