.specifications {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 0;
}

.specifications__element {
  color: $color-text;
  font-size: 15px;
  line-height: 1.333;
  grid-column: 1/2;
  border-bottom: 1px solid $color-bg-title;
  padding-bottom: 7px;
  padding-top: 7px;
}

.specifications__description {
  color: $color-text;
  font-size: 15px;
  line-height: 1.333;
  grid-column: 2/-1;
  margin: 0;
  border-bottom: 1px solid $color-bg-title;
  padding-bottom: 7px;
  padding-top: 7px;
}
