.title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 27px;
  line-height: 1.111;
  margin: 0;

  &--h2 {
    font-size: 25px;
    line-height: 1.2;
    margin: 0;
  }

  &--h3 {
    font-size: 17px;
    line-height: 1.411;
  }
}
