.video {
  padding-bottom: 55px;

  @include viewport--md {
    padding-bottom: 76px;
  }
}

.video__container {
  border: 1px solid $color-bg-title;
  width: 260px;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @include viewport--md {
    width: 668px;
    justify-items: center;
  }

  @include viewport--lg {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

.video__title {
  background-image: url("../img/icons/video.svg");
  background-position: left 30px center;
  background-size: 32px 22px;
  background-repeat: no-repeat;
  margin-bottom: 26px;
  padding-left: 90px;
  justify-self: end;

  @include viewport--md {
    justify-self: start;
    padding-left: 106px;
    background-position: left 41px bottom 3px;
    margin-bottom: 8px;
  }

  @include viewport--lg {
    grid-column: 2/3;
  }
}

.video__wrapper {
  position: relative;
  margin-bottom: 22px;

  @include viewport--md {
    order: -1;
    margin-bottom: 41px;
  }

  @include viewport--lg {
    grid-column: 1/2;
    grid-row: 1/4;
  }
}

.catalog__video-photo {
  @include viewport--md {
    width: 668px;
    height: 455px;
  }

  @include viewport--lg {
    width: 682px;
    height: 455px;
  }
}

.video__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95px;
  height: 71px;
  background-image: url("../img/icons/play.svg");
  background-position: center;
  background-size: 100px 76px;
  background-repeat: no-repeat;
  border: none;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.5;
  }
}

.video__description {
  font-size: 13px;
  line-height: 1.84;
  color: $color-text;
  margin-bottom: 41px;
  margin-left: 33px;

  @include viewport--md {
    width: 591px;
    font-size: 15px;
    line-height: 2;
    margin-left: 4px;
  }

  @include viewport--lg {
    margin-left: 80px;
    grid-column: 2/3;
  }
}

.video__order-link {
  width: 192px;
  justify-self: center;
  margin-bottom: 33px;
  padding: 18px 0 10px;

  @include viewport--md {
    width: 584px;
  }

  @include viewport--lg {
    grid-column: 2/3;
  }
}

