html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 2;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Open sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open sans bold";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.container {
  width: 260px;
  margin: 0 auto;
}

.title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 1.111;
  margin: 0;
}
.title--h2 {
  font-size: 25px;
  line-height: 1.2;
  margin: 0;
}
.title--h3 {
  font-size: 17px;
  line-height: 1.411;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.catalog__link {
  color: #000000;
  text-decoration: none;
}

.catalog__discription {
  font-size: 13px;
  line-height: 2.307;
}

.catalog__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.6;
}

.catalog__in-basket {
  width: 20px;
  height: 19px;
  background-color: transparent;
  border: none;
  background-image: url("/img/icons/basket.svg");
  background-position: center;
  background-size: 20px 19px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header__logo-link {
  text-decoration: none;
}

.header__toggle {
  width: 20px;
  height: 14px;
  border: none;
  background-color: #ffffff;
  padding: 0;
  cursor: pointer;
}

.header__toggle-line {
  display: block;
  position: relative;
  height: 2px;
  width: 20px;
  background-color: #000000;
}
.header__toggle-line::before {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: #000000;
  bottom: 4px;
}
.header__toggle-line::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  width: 20px;
  background-color: #000000;
  top: 4px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  background-image: url("/img/background-mobile.jpg");
  background-size: 320px 373px;
  background-position: center -15%;
  background-repeat: no-repeat;
}

.intro__title {
  padding: 73px 0 120px;
  text-align: center;
}

.intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.intro__item:nth-child(odd) {
  background-color: #63D1BB;
  padding: 24px 160px 31px 30px;
}

.intro__item:nth-child(even) {
  background-color: #56C3B2;
  padding: 24px 160px 31px 30px;
}

.intro__link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 19px;
  line-height: 1.263;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
}

.header-sub__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-sub__link {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
}

.header-sub__delivery {
  display: none;
}

.weekly-product__text {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.176;
  color: #63D1BB;
  text-transform: uppercase;
}

.weekly-product__subtitle {
  color: #444444;
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}

.specifications__element {
  color: #444444;
  font-size: 15px;
  line-height: 1.333;
}

.specifications__description {
  color: #444444;
  font-size: 15px;
  line-height: 1.333;
}

.weekly-product__price {
  color: #444444;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #444444;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.111;
  color: #444444;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.176;
  padding-top: 42px;
  padding-bottom: 10px;
}
.about__item--flower {
  background: url("/img/icons/flower.svg") top left/33px 38px no-repeat;
}
.about__item--price {
  background: url("/img/icons/price.svg") top left/47px 27px no-repeat;
}
.about__item--heart {
  background: url("/img/icons/heart.svg") top left/34px 24px no-repeat;
}
.about__item--ball {
  background: url("/img/icons/ball.svg") top left/35px 24px no-repeat;
}
.about__item--rocket {
  background: url("/img/icons/rocket.svg") top left/55px 23px no-repeat;
}
.about__item--gift {
  background: url("/img/icons/gift.svg") top left/32px 32px no-repeat;
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  color: #444444;
}

.reviews__name {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.411;
  color: #000000;
}

.reviews__social {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.764;
}

.contacts__box {
  font-style: normal;
  font-size: 14px;
  line-height: 2.142;
  color: #444444;
}

.contacts__email {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px #63D1BB solid;
}

.contacts__adress {
  text-decoration: none;
  color: #444444;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form-modal__group {
  border: none;
}

.form-modal__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 82px;
  height: 52px;
  border: 2px rgba(68, 68, 68, 0.1) solid;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.941;
  text-transform: uppercase;
  color: #444444;
}
.form-modal__label:hover {
  border: 2px rgba(0, 0, 0, 0.3) solid;
}
.form-modal__label:active {
  border: 2px #63D1BB solid;
}

.form-modal__radio {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.form-modal__button {
  background-color: #63D1BB;
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 0.941;
  color: #ffffff;
  padding: 18px 68px;
  cursor: pointer;
}
.form-modal__button:hover {
  opacity: 0.8;
}

.modal-order {
  border: 1px solid #C6C6C6;
  box-shadow: 0px 5px 10px rgba(0, 1, 1, 0.25);
}

.form-order__title {
  margin: 0 auto;
  background-color: #F1F1F1;
  padding: 73px 0 73px;
  text-align: center;
}

.form-order__description {
  font-size: 13px;
  line-height: 1.846;
  color: #444444;
}

.fieldset {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 0.941;
  text-transform: uppercase;
  color: #63D1BB;
}
.legend::after {
  content: "";
  width: 200px;
  height: 1px;
  background-color: #63D1BB;
  display: inline-block;
}

.input-hidden {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
}

.form__label {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 1.058;
}

.form__radio-custom {
  width: 42px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 2px #444444 solid;
}
.form__radio-custom:hover {
  border: 2px #63D1BB solid;
}
.form__radio-custom:active {
  border: 2px rgba(0, 0, 0, 0.3) solid;
}

.form__radio:checked + .form__radio-custom {
  background: url("/img/icons/point.svg") center/15px 15px no-repeat;
}

.form__checkbox-custom {
  width: 38px;
  height: 38px;
  border: 2px solid #444444;
}
.form__checkbox-custom:hover {
  border: 2px solid #63D1BB;
}
.form__checkbox-custom:active {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.form__checkbox:checked + .form__checkbox-custom {
  background: url("/img/icons/tick.svg") center/31px 22px no-repeat;
}

.form__input-text {
  border: none;
  border-bottom: 2px solid #000000;
}
.form__input-text:hover {
  border-color: #63D1BB;
}
.form__input-text:focus-visible {
  outline: none;
  border-bottom: 2px solid #63D1BB;
}

.form-textarea {
  width: 260px;
  height: 142px;
  resize: none;
}

.form-notifications {
  font-size: 14px;
  line-height: 1.142;
  color: #444444;
}

.section-catalog__title {
  background-color: #F1F1F1;
  padding: 73px 0 73px;
  text-align: center;
}

.catalog {
  margin: 0;
  padding: 0;
  list-style: none;
}

.video {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.video__title {
  background: url("/img/icons/video.svg") center left/32px 22px no-repeat;
}

.video__button {
  width: 95px;
  height: 71px;
  background: url("/img/icons/play.svg") center/100px 76px no-repeat;
  border: none;
}
.video__button:hover {
  transform: scale(120%, 120%);
}
.video__button:active {
  transform: scale(80%, 80%);
  opacity: 0.5;
}

.video__description {
  font-size: 13px;
  line-height: 1.846;
  color: #444444;
}
/*# sourceMappingURL=style.css.map */