@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin input-hidden {
  position: absolute;
  appearance: none;
}

@mixin viewport--md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin viewport--lg {
  @media (min-width: $lg) {
    @content;
  }
}

