$main-font: "Open Sans", "Arial", sans-serif;
$color-title: #000000;
$color-text: #444444;
$color-green: #63D1BB;
$color-dark-green: #56C3B2;
$color-white: #ffffff;
$color-light-grey: rgba(0, 0, 0, 0.3);
$color-bg-title: #F1F1F1;

$md: 768px;
$lg: 1150px;
$sm-max: 767px;
$md-max: 1149px;
$lg-max: 1150px;
$padding--sm: 30px;
$padding--md: 40px;
$padding--lg: 50px;
